#container-fundo {
  height: 60vh;
  padding-top: 200px;
  text-align: center;
}

#container-fundo #name {
  border: 1px solid black;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#container-fundo .verde {
  background-color: cadetblue;
}

#container-fundo .vermelho {
  background-color: crimson;
}

#container-fundo .azul {
  background-color: darkslateblue;
}

#container-fundo #buttons {
  padding-top: 20px;
}

#container-fundo #buttons .button {
  cursor: pointer;
  font-size: 1em;
  border-radius: 10px;
  height: 2rem;
  width: 10rem;
}

#container-fundo #buttons #button-green {
  background-color: cadetblue;
}

#container-fundo #buttons #button-red {
  background-color: crimson;
}

#container-fundo #buttons #button-blue {
  background-color: darkslateblue;
}

#container-fundo #buttons #button-black {
  background-color: black;
  color: white;
}

* {
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #f0f8ff;
  font-size: 150%;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header nav #logo a img {
  width: 3rem;
}

body header nav #menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav #menu li {
  padding: 1rem;
}

body header nav #menu li a {
  color: #000;
}

body main {
  height: auto;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main #container-clicks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main #container-clicks #container-colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main #container-clicks #container-colors .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  cursor: pointer;
}

body main #container-clicks #container-colors #box-black {
  background-color: black;
  color: white;
}

body main #container-clicks #container-colors #box-white {
  background-color: white;
}

body main #container-clicks #container-colors #box-orange {
  background-color: orange;
}

body main #container-clicks #container-colors #box-grey {
  background-color: gray;
}

body main #container-clicks #container-colors .texto-click {
  display: none;
}

body main #container-clicks #container-colors .texto-cor-desativado {
  display: none;
}
/*# sourceMappingURL=main.css.map */